body {
  background-color: #eeadf8;
  color: #fdffff;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #e176f2;
  color: #fdffff;
  border-style: none;
}
input {
  height: 25px;
}